body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: sans-serif;
}

.start-menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    cursor: pointer;
    font-weight: bold;
    height: 25vh;
    width: 50vw;
    font-size: 7.0vw;
    border-color: darkgray;
    border-radius: 12px;
    border: none;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    font-weight: bold;
    height: 7vh;
    width: 15vw;
    font-size: 3.0vw;
    border-color: darkgray;
    border-radius: 12px;
    border: none;
    display: inline-block;
}

.menu-button:disabled {
    cursor: default;
}

.hide {
    display: none !important;
    visibility: hidden;
}

.dim {
    opacity: 0.1;
}

.game {
    display: flex;
    flex-direction: column;
}

.header {
    margin: auto;
    font-size: 7.0vw;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.meal {
    width: 90%;
    height: 90%;
}

.main {
    height: 60vh;
    margin: auto;
    align-content: center;
}

.next-step {
    font-size: 5.0vw;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
}

.controls {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 50vw;
}

.control-item {
    margin: auto;
    align-content: center;
}

.label {
    font-size: 3.0vw;
}

.video {
    width: 100%;
    height: 100%;
}